{{ define "main" }}
{{ $buttonColor := $.Site.Data.appearance.colors }}
{{ $ihfID := .Site.Data.idx.ihf_client_id }}
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-flex uk-flex-center uk-text-center">
                <div class="uk-width-2xlarge">
                    {{ if .Params.intro.heading }}<h2 class="uk-text-bold">{{ .Params.intro.heading }}</h2>{{ end }}
                    {{ if .Params.intro.body }}<p>{{ .Params.intro.body }}</p>{{ end }}
                    {{ if .Params.intro.button_link }}
                    <div class="uk-margin-medium-top">
                        <a href="{{ .Params.intro.button_link }}" class="btn-primary uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>{{ .Params.intro.button_label }}</a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ if in .Permalink "lease" }}
            <div class="uk-margin-medium-top">
                {{ if $.Site.Data.idx.incomplete_subdomain }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ else }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.complete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ if in .Permalink "lease" }}
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <div class="uk-inline uk-cover-container" style="border-radius:4px;">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1642237880/earl-rhee/nrguam/happy-asian-relaxing-on-couch.jpg" alt="" uk-cover>
                        <canvas height="500" width="800"></canvas>
                    </div>
                </div>
                    <a href="/pages/landlord">
                        <div class="uk-inline uk-cover-container" style="border-radius:4px;">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1642237937/earl-rhee/nrguam/homes-with-green-tree.jpg" alt="" uk-cover>
                            <canvas height="500" width="800"></canvas>
                          <div class="feature-box-overlay uk-position-cover"></div>
                          <div class="uk-overlay uk-position-center uk-light">
                              <h3>For Landlords</h3>
                          </div>
                        </div>
                      </a>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <div class="uk-section uk-section-large" style="background: rgb(243, 243, 243)">
        <div class="uk-container uk-container-large">
            <div class="uk-margin-large-bottom uk-text-center">
                <h2 class="uk-text-bold">Services</h2>
            </div>
            <div class="uk-child-width-expand@l uk-child-width-1-3@s uk-text-center" uk-grid>
                {{ range .Params.featured.featured_panels }}
                <div>
                    {{ if .svg }}
                    {{ .svg | safeHTML }}
                    {{ end }}
                    <h2 class="uk-h4 uk-text-bold">{{ .heading }}</h2>
                    <p>{{ .body }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ if .Params.extra.heading }}
    <div class="uk-section uk-section-large">
        <div class="uk-container">
            <div class="uk-child-width-expand@s uk-flex-middle" uk-grid>
                <div>
                    <div class="uk-margin-large-bottom uk-text-center">
                        <h2 class="uk-text-bold">{{ .Params.extra.heading }}</h2>
                    </div>
                    <div>
                        {{ .Params.extra.body | markdownify }}
                    </div>
                </div>
                <div>
                    <img src="{{ .Params.extra.image }}" alt="">
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <div class="uk-section uk-section-large uk-light" style="background: #204079">
        <div class="hero-overlay"></div>
        <div class="uk-container uk-container-large">
            <div class="uk-flex uk-flex-center">
                <div class="uk-width-2xlarge">
                    {{ if .Params.closing.heading }}<h2 class="uk-text-bold">{{ .Params.closing.heading }}</h2>{{ end }}
                    {{ if .Params.closing.body }}<p>{{ .Params.closing.body }}</p>{{ end }}
                    {{ if .Params.closing.button_link }}
                    <div class="uk-margin-medium-top">
                        {{ partial "components/seller-form" . }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}